/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	margin:0 auto;
	width:960px;
	background-color:#0f2e4a;
}

header {
	position:relative;
		text-align:center;

}

#logo {
	position:relative;
	display: inline-block;
	width:960px;
	border-bottom: 5px solid black;
}

#b {
	display:inline-block;
	font-family:"Georgia";
	font-size: 100px;
	color:#981703;
	padding-right:55px;
}

#l {
	display:inline-block;
	font-family:"Georgia";
	font-size: 100px;
	color:#981703;
	padding-left:55px;
}

#og {
	display:block;
	font-family:"BevanRegular";
	color:#e4681c;
	font-size:200px;
}

h2, footer a {
	display:inline-block;
	font-family:"Georgia";
	color:#e4681c;
	padding-bottom:15px;
}

footer {
	clear:both;
	padding-top: 50px;
	text-align:center;
}

nav {
	margin-top:10px;
	font-family: "League Gothic";
	font-size: 40px;
	padding-bottom:10px;
	border-bottom: 5px solid black;
}

nav a {
	margin: 20px;
	padding-left:3px;
	padding-right:2px;
	text-decoration:none;
	color:#981703;
}

nav a:hover {
	background-color:#f7cd7d;
}

li {
	display:inline;
}

header {
	margin-bottom:35px;
}

h1 {
	text-align:center;
	font-family:"League Gothic";
	font-size:30px;
	color: #e4681c;
	margin-bottom:5px;
}

article {
	margin-bottom: 20px;
	line-height: 1.6em;
}

#content {
	float:left;
	width:600px;

	padding-right:80px;
}

#sidebar {
	float:left;
	width:280px;
}

@font-face {
    font-family: 'BevanRegular';
    src: url('Bevan-webfont.eot');
    src: url('Bevan-webfont.eot?#iefix') format('embedded-opentype'),
         url('Bevan-webfont.woff') format('woff'),
         url('Bevan-webfont.ttf') format('truetype'),
         url('Bevan-webfont.svg#BevanRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
























